<tr class="task <%= "is-done" if task.done? %>">
  <td class="task-title-description">
    <span class="task-title"><%= task.title %></span>
    <% if task.description && task.description != "" %>
      <a href="#" class="more">(more)</a>
      <p class="task-description"><%= task.description %></p>
    <% end %>
  </td>
  <td class="deadline <%= "late" if task.late? %>"><%= task.deadline %></td>
  <td class="done">
    <% if task.done? %>
      ✓
    <% end %>
  </td>
  <td class="actions">
    <% unless task.done? %>
      <form class="action" action="/tasks/<%= task.id %>/done" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <button type="submit" class="success">Done!</button>
      </form>
    <% end %>
    <form class="action" action="/tasks/<%= task.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="error">Delete</button>
    </form>
  </td>
</tr>
